[G0]
timername=Lapso Practice
time=14400
timercommand=mpv --ytdl-format=bestvideo+bestaudio/best --fs "https://www.youtube.com/watch?v=bHvF3A1IB3o&ab_channel=Naz" --no-video
timerinfo=4h 0m 0s
is_countdown=true
is_recur=false
autostart=true

[others]
nowin_if_alarm=false
use_global_command=false
global_command=
repeat_alarm=false
repetitions=1
repeat_interval=10

